@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fef3c7;
}
.App {
  font-family: "roboto", sans-serif;
  text-align: center;
}

#io-div {
  max-width: 600px;
  margin: auto;
}
input {
  width: 80%;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}

#meaning-p {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  font-size: larger;
  background-color: #333;
  border-radius: 0.3rem;
  color: white;
}

#emojis-div {
  max-width: 600px;
  margin: auto;
  max-height: 30vh;
  overflow-y: scroll;
}

li {
  font-size: 2rem;
  list-style: none;
  display: inline;
  padding: 0.5rem;
  cursor: pointer;
}

ul {
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 1rem;
}

footer p {
  display: inline;
}

#non-bullet-list {
  list-style: none;
  display: inline;
  padding-left: 0;
}

.list-item-inline {
  display: inline;
}

.social-link {
  padding-left: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fbbf24;
}

#copy-right a {
  color: black;
}
